<link rel="stylesheet" href="app.css">

<h1>You fell in love with: <%= thingLet.toUpperCase() %>  </h1>
<% if(thingLet.toLowerCase() === "raleigh"){ %>
    <p>GOOD CHOICE RALEIGH is the BEST!</p>
<% }  else {%>
    <p>Bad choice! You should have said Raleigh!</p>
<% } %>

<p>P.S. this is the love .ejs file!</p>